@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* SVG and div styling */
#content {
  margin: 0px 0px 0px 0px;

}

#map {
    width: 800px;
    height: 500px;

}

#Barchart-div {
  float: left;

}
#Linechart-div {
  float: left;
}

#info-box {
    margin: auto;
    width: 400px;
}

.header {
    width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

/* Vis specific classes */
#countries>.country.selected {
    stroke-width: 2px;
    stroke: black;
    stroke-opacity: 1;
}

#countries>.country {
    stroke-width: 1px;
    stroke: black;
    stroke-opacity: 0.1;
}
.chart,
h2 {
  text-align: center;
}




.toolbox span {
  padding: 5px;
}

svg {
  padding: 10px;
  width: 1000px;
  height: 500px;
}



.bar-chart .hovered {
  fill: #979696;
}

    /* style of line charts */
    .line-chart {
      stroke: rgb(79, 175, 211);
      stroke-width: 2;
      fill: none;
    }

    text {
      fill: black;
    }